%div#flash.alert.alert-danger.alert-dismissable.fade.show{style: 'display: none;'}
  %span#error_message
  %button.close{ type: 'button' }
    %i.eos-icons close
%div.card
  %h3.card-header= t('page_title.plan')
  %div.card-body
    %p= markdown(t('page_subtitle.plan_info'))
    %hr
    %pre.pre-scrollable
      %code.output= @show_output
      %i.eos-icon-loading.md-48.centered{style: 'display: none;' }
%p.clearfix
  %div.float-right.btn-group.steps-container
    - if Rails.configuration.x.advanced_mode
      = link_to sources_path, class: "btn btn-secondary", title: t('tooltips.prior_step'), data: { toggle: 'tooltip' } do
        %i.eos-icons.md-18 fast_rewind
        = t('sidebar.variables')
    - else
      = link_to variables_path, class: "btn btn-secondary", title: t('tooltips.prior_step'), data: { toggle: 'tooltip' } do
        %i.eos-icons.md-18 fast_rewind
        = t('sidebar.variables')
    = link_to plan_path, class: "btn btn-primary", id: "submit-plan", title: t('tooltips.run'), data: { method: :put, remote: true, toggle: 'tooltip', disable_with: t('running') } do
      %i.eos-icons.md-18 build
      = t('plan')
    = link_to plan_path(format: :json), class: "btn btn-info #{'disabled' unless can(deploy_path)}", title: t('tooltips.download_plan'), data: { toggle: 'tooltip' }  do
      %i.eos-icons.md-18  get_app
      = t('sidebar.download_plan')
    = link_to deploy_path, class: "btn btn-warning #{'disabled' unless can(deploy_path)}", title: t('tooltips.start_action') do
      = t('sidebar.deploy')
      %i.eos-icons.md-18 fast_forward
%p.clearfix
